export EDITOR=nvim
export PM_API_TOKEN_ID=$(op read "op://Private/PVE-Terraform/username")
export PM_API_TOKEN_SECRET=$(op read "op://Private/PVE-Terraform/credential")

if ping pve01.home -c 1 >/dev/null; then 
  PM_API_URL="https://pve01.home:8006/api2/json" 
else 
  PM_API_URL="https://pve01:8006/api2/json" 
fi

export PM_API_URL=$PM_API_URL
