export EDITOR=nvim
export SOPS_PGP_FP=C206AD70ABB09ADF05A6C34D4EC141B7C702CAAF
export ANSIBLE_VAULT_PASSWORD_FILE=~/.ansible.vault-password

if ping pve01.home -c 1 >/dev/null; then 
  PM_API_URL="https://pve01.home:8006/api2/json" 
else 
  PM_API_URL="https://pve01:8006/api2/json" 
fi

export PM_API_URL=$PM_API_URL
