---
- name: Include sops secrets
  community.sops.load_vars:
    file: "ansible-cloud.sops.yaml"
    name: sops
    expressions: ignore

- name: Wait for boot
  ansible.builtin.wait_for_connection:

- name: Tokyo Timezone
  become: true
  ansible.builtin.timezone:
    name: Asia/Tokyo

- name: Check if wireguard and HAProxy are installed
  become: true
  check_mode: true
  ansible.builtin.dnf:
    name: ["wireguard-tools", "haproxy"]
    state: present
  register: is_not_installed_wireguard_haproxy

- name: Install Wireguard-tools & HAProxy
  become: true
  ansible.builtin.dnf:
    name: ["wireguard-tools", "haproxy"]
    state: latest
  when: is_not_installed_wireguard_haproxy.changed

- name: Add SELinux Policy for HAProxy
  import_tasks: selinux.yaml

- name: Configure Wireguard
  become: true
  notify: "reload_wireguard"
  ansible.builtin.template:
    src: "wg0.j2.conf"
    dest: "/etc/wireguard/wg0.conf"
    owner: root
    mode: "600"

- name: Configure HAProxy
  become: true
  notify: "restart_haproxy"
  ansible.builtin.blockinfile:
    path:
    insertafter: EOF
    create: true
    block: |
      # [[servers]]
      # host = "10.1.0.1:27135"
      # bind = ["[::]:27135"]
      #
      # [[servers]]
      # host = "10.1.0.1:27136"
      # bind = ["[::]:27136"]
      #
      # [[servers]]
      # host = "10.1.0.1:27137"
      # bind = ["[::]:27137"]
      #
      # [[servers]]
      # host = "10.1.0.1:27139"
      # bind = ["[::]:27139"]
      #
      [[servers]]
      host = "10.1.0.1:12303"
      bind = ["[::]:12303"]
      
      [[servers]]
      host = "10.1.0.1:27140"
      bind = ["[::]:27140"]
      
      [health_check]
      enabled = true
      interval_sec = 5
      timeout_sec = 3
      
      [sorry_server]
      version = "Maintenance"
      motd = ["§cServer is currently offline.", "§bPlease try again later."]
      kick_message = ["§cServer is currently offline.", "§bPlease try again later."]

- name: Open Ports
  import_tasks: open-ports.yaml